body{
    font-family: Serif;
    background-color: lightgrey;
    margin:15px 0 0  ;
    text-align: center;
}
header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
    object-fit: cover;
}
section {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    width: 80%;
}
section h2 {
    text-align: center;
    color: #333;
    margin: 0; 
}
section .divider {
    width: 100%;             
    height: 3px;             
    background-color: lightgrey;  
    margin: 10px 0;         
    border-radius: 2px;
}
progress{
    width: 100%;
    height: 20px;
    margin-bottom: 15px;
}
.contact form{
   text-align: left;
}
.contact input{
    width: 70%;
    padding: 15px;
    margin-bottom: 4px;
    border: 1px solid #ccc;
}
.contact button{
    width: 18% ;
    height: 30px;
    background-color: rgb(22, 22, 120);
color: white;
}
button:hover{
    color: rgb(40, 40, 136);
}
@media (max-width: 600px) {
    section {
        width: 95%;
    }
}